@model Appointment

<h2>Create Appointment</h2>

<form asp-action="AvailableTimes" method="post">
    <div class="form-group">
    <label for="ClinicId">Clinic</label>
    <select id="ClinicId" asp-for="ClinicId" class="form-control" asp-items="@(new SelectList(ViewBag.Clinics, "ClinicId", "ClinicName"))">
        <option value="">Select a clinic</option>
        <!-- Klinik bilgileri sunucudan doldurulmalı -->
    </select>
</div>

<div class="form-group">
        
        <label for="DoctorId">Select Doctor:</label>
        <select id="DoctorId" name="DoctorId" class="form-control" onchange="updateDoctorName()">
            @foreach (var doctor in ViewBag.Doctors)
            {
                <option value="@doctor.Id" data-name="@doctor.Name">@doctor.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="Date">Select Date:</label>
        <input type="date" id="Date" name="AppointmentDate" class="form-control" required />
    </div>

     <!-- Hidden input to hold the selected doctor name -->
    <input type="hidden" id="DoctorName" name="DoctorName" />

<input type="hidden" name="PatientId" value="@ViewBag.user" />

    <button type="submit" class="btn btn-primary">Find Available Times</button>
</form>


<script>
    // Update DoctorName field whenever a doctor is selected
    function updateDoctorName() {
        var doctorSelect = document.getElementById('DoctorId');
        var selectedOption = doctorSelect.options[doctorSelect.selectedIndex];
        document.getElementById('DoctorName').value = selectedOption.getAttribute('data-name');
    }

    // Set the initial value for DoctorName
    updateDoctorName();
</script>